.form-container {
  width: 70%;
  margin: 0 auto;
}

.who-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.who-field > :first-child {
  margin-right: 50px;
}

input[type="radio"] {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.fullName {
  display: flex;
}

.fullName > :first-child {
  margin-right: 10px;
}

.fullName > :last-child {
  margin-left: 10px;
}

.form-logo {
  text-align: center;
}

.form-logo img {
  width: 200px;
  margin: 0 auto;
}
