.intro,
.feat-one {
  width: 70%;
  margin: 0 auto;
}

.intro img,
.feat-one img {
  width: 100%;
}

h1 {
  font-size: 40px;
  letter-spacing: -1.7px;
}

h1 span {
  color: #FA64A9;
}

.get-started {
  margin: 13em 0 10em;
}

.get-started-btn {
  font-size: 16px;
  line-height: 50px;
  padding: 0 2em;
  font-weight: bold;
  background: linear-gradient(94.53deg, #917AEB 8.02%, #00C0ED 142.37%);
  border-radius: 12px;
  height: 50px;
  border: 0;
  color: white;
}

.upscale-link {
  border: 2px solid #C4C4C4;
  text-decoration: none;
  line-height: 50px;
  font-weight: bold;
  height: 50px;
  border-radius: 12px;
  padding: 0 2em;
  margin-left: 2em;
}

#mainDiv img,
#mainDiv2 img {
  width: 100%;
}

.header {
  padding: 1em 0;
}

.nav {
  width: 70%;
  margin: 0 auto;
}

.features-header {
  padding-bottom: 6em;
  color: #753CBC;
}

.features-header img {
  width: 60px;
}

.logo-img img {
  width: 70%;
}

.feat-one h2 {
  letter-spacing: -1px;
}

.feat-one {
  padding-bottom: 6em;
}

footer {
  background: #917AEB;
}

.bg-one {
  background: url(../Home/purple-bg.svg);
  background-position: 50% -25%;
  background-repeat: no-repeat;
}

.bg-two {
  background: url(../Home/blue-bg.svg);
  background-position: 50% -55%;
  background-repeat: no-repeat;
}