@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;600&display=swap');

* {
  font-family: 'Lexend Deca', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
}

header {
  width: 20%;
  background: #EEE6FD;
  height: 100vh;
}

.content {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

form {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
  margin: 100px auto;
}

form h3 {
  margin-bottom: 25px;
  font-size: 23px;
  text-align: center;
}

form button {
  background: linear-gradient(94.53deg, #917AEB 8.02%, #00C0ED 142.37%);
  border-radius: 14px;
  height: 55px;
  border: 0;
  color: white;
  font-size: 16px;
}

.small-btn {
  border-radius: 10px;
  font-size: 13px;
}

.big-btn {
  border-radius: 14px;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
}

form textarea,
form input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 16px;
  outline: none;
  margin-bottom: 15px;
}

form input {
  height: 50px;
}

form textarea {
  padding-top: 15px;
  height: 100px;
}

form select {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 16px;
  outline: none;
  margin-bottom: 15px;
  height: 50px;
  background: transparent;
}
