nav {
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  padding: 1.5em;
  border-bottom: 1px dashed #C2B2FF;
  color: #252525;
  margin: 0 40px;
}

nav img {
  width: 100%;
}

.logo {
  margin: 2.8em 2em 3em;
}